* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--font-color);
}

:root {
    --main-color: #333;
    --second-color: #ccc;
    --third-color: grey;
    --font-color: #ffa500;
    --bg-color: #000;
}

nav {
    background: var(--main-color);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.logo-link {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 1.4rem;
}

.text-yellow {
    color: rgb(231, 231, 163);
}

.logo-link img {
    transition: .4s;
}

.logo-link img:hover {
    transform: scale(1.2);
    /* transform: translateY(-10px); */
}

.nav-items a {
    background: var(--bg-color);
    padding: 7px 15px;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #fff;
    transition: .4s;
}

.nav-items a:hover {
    background: var(--font-color);
    color: var(--bg-color);
}

.social-items i {
    font-size: 1.7rem;
    margin: 0 5px;
}

i#bars {
    padding: 5px 9px;
    background: orange;
    color: #000;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    /* opacity: 0; */
    display: none;
}

/* nav section end */
/* banner start */
.banner {
    width: 100%;
    min-height: 100vh;
    background: url("../img/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-group {
    background: #00000032;
    /* backdrop-filter: blur(5px); */
    padding: 40px;
    text-align: center;
    text-transform: uppercase;
    /* width: 70%; */
}

.banner-group h2 {
    font-size: 2.9rem;
    text-shadow: 4px 4px 4px grey;
}

.banner-group h1 {
    font-size: 3.7rem;
    font-weight: bolder;
    text-shadow: 4px 4px 4px grey;
}

.banner-group p {
    width: 500px;
    font-weight: bold;
    font-size: 1.2rem;
    /* background: #000; */
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 4px 4px 4px grey;
}

.btn {
    background: var(--bg-color);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    text-shadow: 2px 3px 3px grey;
    box-shadow: 0 0 3px 1px orange;
    transition: .4s;
}

.btn:hover {
    box-shadow: 0 0 20px 1px orange;
}

/* banner end */
section {
    width: 100%;
    min-height: 100vh;
    background: var(--third-color);
}

/* about us start */

#about {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* flex-wrap: wrap; */
}

.about-text-group,
.about-img {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #000; */
}

.about-img img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 30px -30px 10px 5px #cfa14b;
}

.about-text-inner_group p {
    margin: 30px 0;
}

.about-text-inner_group h1 {
    font-size: 3rem;
}

/* about us end */
/* gallery start */
#gallery {
    width: 100%;
    min-height: 100vh;
    background: url("../img/img-7.jpg");
    background-attachment: fixed;
    padding: 30px;
    text-align: center;
}

#gallery h1 {
    font-size: 3.5rem;
    font-weight: bolder;
}

#gallery p {
    background: #0000006f;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 30px 0;
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-box {
    flex: 1 1 25rem;
    background: pink;
    box-shadow: 1px 1px 2px #e6d7bb;
    height: 250px;
}

.gallery-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* gallert end */
/* servicess start */
#services {
    width: 100%;
    min-height: 100vh;
    /* background: url("../img/img-8.jpg"); */
    background-size: cover;
    background-attachment: fixed;
    padding: 30px;
    text-align: center;
}

#services h1 {
    font-size: 3.5rem;
    font-weight: bolder;
}

#services p {
    /* background: #0000006f; */
    font-size: 1.2rem;
    font-weight: normal;
    margin: 30px 0;
}


#services .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#services .col-1 {
    flex: 1 1 25rem;
    background: pink;
    box-shadow: 1px 1px 2px #e6d7bb;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.s-photo,
.s-info {
    position: absolute;
    width: 100%;
    height: 100%;
}

.s-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s-info {
    background: #000000af;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* transform: scale(0); */
    transition: all .5s ease-in-out;
    transform-origin: top right;
    transform: translateY(-100%);
}

#services .col-1:hover .s-info {
    /* transform: scale(1); */
    transform: translate(0);
}

/* *********************************************************-------------media---query--------****************************************************************************************************************************************** */

@media (max-width:650px) {
    body {
        overflow-x: hidden;
    }

    nav {
        padding: 0 30px;
    }

    i#bars {
        display: block;
    }

    .social-items {
        display: none;
    }

    .nav-items {
        position: absolute;
        background: #00000094;
        padding: 30px 80px;
        top: 80px;
        left: 0;
        right: 0;
        transition: all .5s;
        transform: translateY(-150%);
        /* display: none; */
    }

    .show {
        transform: translate(0);
        /* display: block; */
    }

    .nav-items a {
        display: block;
        margin-bottom: 20px;
        text-align: center;
    }

    .banner {
        padding: 15px;
    }

    .banner-group h1 {
        font-size: 2.7rem;
    }

    .banner-group h2 {
        font-size: 2rem;
    }

    .banner-group p {
        width: 400px;
    }

    .about-text-group {
        height: 350px;
    }

    .about-text-inner_group {
        text-align: center;
    }

    .about-img img {
        width: 350px;
        height: 350px;
    }
}
